/*base.css*/
*{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    border: none;
}
.clear-fix:after{
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
html,body{
    height: 100%;
}
.warp{
    box-sizing: border-box;
    position: relative;
    height: 100%;
    padding: 30px 5px 0;
}
.container{
    border: 1px solid #e7e9ed;
    border-radius: 3px;
    background-color: #fff;
}
/*面包屑*/
.trace {
    position: fixed;
    top: 0;
    left: 5px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #999;
    font-family: "微软雅黑";
    background-color: #f1f4f9;
    z-index: 999;
}
.trace .now {
    color: #333333;
}
/*查询*/
.form-label{
    padding-right: 10px;
    text-align: right;
    font:14px "微软雅黑";
}
.form-search .form-label{
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
}
.form-search .form-input{
    box-sizing: border-box;
    height: 30px;
    padding: 10px 5px;
}
/*为了边框不重合*/
.margin-top-1{
    margin-top: -1px;
}
/*表单*/
.single-form{
    
}
.single-form-input{
    background-color: #fff;
}
.form>table{
    width: 100%;
    background-color: #e6e7eb;
}
.form{
    width: 100%;
    background-color: #e6e7eb;
}
.form tr{
    position: relative;
}
.form .form-label{
    height: 40px;
    line-height: 40px;
    background-color: #f8f9fb;
}
.form .form-input,.form-unit{
    height: 30px;
    padding: 5px 5px;
    background-color: #fff;
    font-family: "微软雅黑";
}
.mini-checkbox{
    font-family: "微软雅黑";
}
.mini-radiobuttonlist table label{
    font-family: "微软雅黑";
}
.form .form-text{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 5px;
    line-height: 40px!important;
    font:14px "微软雅黑";
    background-color: #fff;
}
.form .must-icon{
    color: #f00;
    font-size: 16px;
    box-sizing: border-box;
    padding-right: 3px;
}
.form .mini-textbox-border,.mini-buttonedit-border{
    border: 1px solid #C4C6CF;
    background-color: #fff!important;
    border-radius: 5px;
    outline: 0;
    padding-left: 10px;
    overflow: hidden;
}
.form .mini-buttonedit-buttons{
    width: 18px;
    height: 18px;
    right: 4px;
}
.form .mini-buttonedit-button{
    width: 18px;
    height: 18px;
}
.form-search .mini-textbox-border,.mini-buttonedit-border{
    border: 1px solid #C4C6CF;
    background-color: #fff!important;
    border-radius: 5px;
    outline: 0;
    padding-left: 10px;
    overflow: hidden;
}
.form-search .mini-buttonedit-buttons{
    width: 18px;
    height: 18px;
    right: 4px;
}
.form-search .mini-buttonedit-button{
    width: 18px;
    height: 18px;
}
.form-all .mini-textbox,.mini-combobox,.mini-datepicker{
    width: 100%;
}
/*错误,边框变红*/
.form-error .mini-error .mini-textbox-border {
    border-color: red;
    margin-right: 0;
}
.error-text{
    display: none;
}
/*错误,提示*/
.form-error .error-text{
    display: block;
    line-height: 40px;
    font-size: 12px;
    color: #f00;
}
/*错误,不要图标*/
.form-error .mini-error .mini-errorIcon {
    display: none;
}
/*宽度100%*/
.form-all .mini-textbox,.mini-combobox,.mini-datepicker,.mini-spinner{
    width: 100%;
}
/*图标*/
.mini-datepicker .mini-buttonedit-trigger .mini-buttonedit-icon{
    width: 18px;
    height: 18px;
    margin-left: -9px;
    margin-top: -9px;
    background-position: center;
    background-size:100% 100% ;
    background: url(../images/date.png) no-repeat 0 0;
}
.mini-combobox .mini-buttonedit-trigger .mini-buttonedit-icon {
    background: url(../images/selectArrow.png) no-repeat;
    width: 12px;
    height: 16px;
    line-height: 16px;
    margin-top: -3px;
    margin-left: -5px;
}
/*下拉框*/
.mini-popup{
    border-radius: 5px;
    border: 1px solid #C9C9C9;
}
.mini-shadow{
    background-color: white;
}
.mini-listbox td{
    font-family: "微软雅黑";
}
/*按钮*/
.btn{
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    color: white;
    display: inline-block;
    background-color: #0082d3;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: "微软雅黑";
}
.btn:hover {
    background-color: #0f98ed;
}
.btn:active {
    background-color: #0082d3;
}
.btn-primary{
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    color: white;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: "微软雅黑";
    background-color: #FFFFFF;
    color: #555!important;
    border: 1px solid #C9C9C9;
}
.btn-primary:hover {
    border-color: #0082d3;
}
.btn-primary:active {
    border-color: #C9C9C9;
}
.btn[disabled] {
    cursor: not-allowed;
    background-color: #afafaf;
    color: white;
}
.btn-primary[disabled] {
    cursor: not-allowed;
    background-color: #afafaf;
    color: white!important;
    border: none;
}
.btn-primary[disabled]:hover {
    cursor: not-allowed;
    background-color: #afafaf;
    color: white!important;
    border: none;
}
/*按钮组*/
.button-group-form{
    padding: 5px 0;
    padding-left: 15%;
    border: 1px solid #e6e7eb;
    border-top: none;
}
.button-group-left{
    margin: 10px 0;
}
.button-group-right{
    padding: 10px 0;
    text-align: right;
}
.button-group-center{
    padding: 5px 0;
    text-align: center;
}
.button-group-form .btn,.btn-primary{
    margin-right: 10px;
}
.button-group .btn,.btn-primary{
    margin-right: 10px;
}
.button-group-left .btn,.btn-primary{
    margin-right: 10px;
}
.button-group-right .btn,.btn-primary{
    margin-right: 10px;
}
.button-group-center .btn,.btn-primary{
    margin-right: 10px;
}
/*修改miniui样式*/
/*tab*/
.mini-tab {
    background: #fff;
    border: none;
    color: #333333;
    font: 14px "微软雅黑";
    padding: 3px 10px 3px 10px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
    width: auto;
    height: 35px;
    line-height: 35px;
    border-bottom: solid 1px #e7e9ed;
}
/*头部去掉margin*/
.mini-tabs-position-top .mini-tabs-header {
    margin-top: 0px;
}
/*头部去掉边框*/
.mini-tabs-space {
    border-bottom: none;
}
/*头部去掉边框*/
.mini-tabs-space {
    border-bottom: none;
}
/*头部文字*/
.mini-tab-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    line-height:22px; 
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 16px;
    color: #666;
    font-weight: normal;
}
/*tab头部背景色,边框*/
.mini-tabs-scrollCt {
    position: relative;
    border:none ;
    border-bottom: 1px solid #e7e7eb;
    background: #fff repeat-x 0 0;
    zoom: 1;
}
/*头部选中样式*/
.mini-tabs-header .mini-tab-active {
    border-bottom:2px solid #0082d3;
    background: #fff;
    cursor: default;
}
.mini-tabs-header .mini-tab-active .mini-tab-text{
    color: #0166a6;
    font-weight: 600;
}
/*头部分割线*/
.mini-tabs-space2 {
    width: 3px;
    border-bottom: none;
    position: absolute;
    height: 20px;
    top: 14px;
    border-right:1px solid #dddede;
}
/*tab主体*/
.mini-tabs-bodys {
    position: relative;
    border: none;
    border-top: 0;
    background: white;
    padding: 0;
    text-align: left;
    overflow: hidden;
}
/*字体*/
.mini-list-inner{
    font-family: "微软雅黑";
    font-size: 14px;
}


/*表格*/
/*表格边框*/
.mini-panel-border{
    border: 1px solid #edeef0;
    border-bottom: none;
    border-right: none;
}
.mini-grid-columns{
    border-top: 1px solid #edeef0;
    font-weight: 600;
    font-family: "微软雅黑";
}
/*表格头部背景色,边框*/
.mini-grid-headerCell{
    background:none;
    border-right:1px solid #eaeaea;
    border-bottom:1px solid #edeef0;
    background-color: #f2f3f7;
}
/*表格主体边框*/
.mini-grid-cell{
    border-right:1px solid #edeef0;
    border-bottom:1px solid #edeef0;
}
/*行高*/
.mini-grid-table tr{
    height: 45px;
}
.mini-grid-rows-content .mini-grid-table tr{
    height: 35px;
}
/*字体*/
.mini-grid-cell {
    font-family:"微软雅黑";
    font-size: 12px;
}
/*选中行*/
html body .mini-grid-row-selected{
    background-color: #e6f3ff;
}
html body .mini-grid-row-hover{
    background-color: #e6f3ff;
}
/*新行*/
html body .mini-grid-newRow{
    background-color: #fff;
}
/*表格按钮*/
.table-icon{
    width: 27px;
    height: 27px;
    margin: 0 5px;
}
/*斑马纹*/
.mini-grid-row-alt{
    background-color: #fbfbfb;
}
/*分页*/
.mini-pager-size .mini-textbox-border{
    border-radius: 0;
}
.mini-pager-size .mini-buttonedit-border{
    border-radius: 0;
}
/*分页背景色*/
.mini-pager {
    background-color: white;
}
/*分页边框*/
.mini-grid-pager{
    height: 40px;
    border: none;
    border-bottom: 1px solid #e4e4e4;
}
.mini-pager{
    height: 34px;
    line-height: 34px;
}
/*分页颜色*/
.mini-pager-right{
    color: #999;
}
.mini-pager-size .mini-buttonedit-border{
    height: auto;
}

/*下拉选择按钮*/
.button-drop{
    margin: 10px 5px;
    height: 30px;
    line-height: 30px;
    padding: 0 17px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    color: white;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: "微软雅黑";
    background-color: #FFFFFF;
    color: #555!important;
    border: 1px solid #C9C9C9;
    position: relative;
    float: right;
    border-radius: 5px 5px 0 0;
    z-index: 1000;
}
.button-drop span{
    display: inline-block;
}
.drop{
    width: 16px;
    height: 8px;
    background: url(../images/button-drop.png) 0 0 no-repeat;
    background-position-y:-9px;
}
.button-drop .drop-active{
    background-position-y:1px;
}
.drop-body{
    position: absolute;
    top: 32px;
    left: -1px;
    z-index: 999;
    min-width: 100%;
    text-align: left;
    text-indent: 15px;
    border: 1px solid #C9C9C9;
    background-color: white;
    border-radius:0 0 5px 5px ;
    display: none;
}
.drop-body div:hover{
    background-color: #E8F4FF;
}
/*多行搜素*/
.more-search-button {
    font-family: "微软雅黑";
    font-size: 14px;
    color: rgb(9, 120, 191);
}
.more-search {
    display: none;
}
.more-search-button img {
    vertical-align: -1px;
    margin-right: 10px;
}
/*手风琴下拉菜单*/
.panel-head {
    height: 40px;
    padding-left: 10px;
    background-color: #d9ecff;
    border-radius: 3px;
    color: #016eb3;
    cursor: pointer;
}
.panel-head img {
    float: left;
    margin-top: 12px;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    cursor: pointer;
}
.panel-head span {
    float: left;
    line-height: 40px;
    font-family: "微软雅黑";
    font-size: 16px;
}
.panel-body {
    display: none;
    position: relative;
}
.panel_active .panel-body {
    display: block;
}
.panel-active-border {
    position: absolute;
    left: 0;
    top: -2px;
    width: 90px;
    height: 2px;
    background-color: #0082d3;
}
.panel_active .panel-head {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e6e7eb;
   font-weight: 600;
}
.panel-container {
    border: 1px solid #c4e2ff;
    border-radius: 3px;
}
/*特殊表单*/
.special-form-head{
    height: 40px;
    font-size: 14px ;
    font-family: "微软雅黑";
    line-height: 40px;
    color: #0166a6;
    font-weight: 600;
    overflow: hidden;
}
.special-form-head-left{
    float: left;
    width: 80px;
    text-indent: 15px;
}
.special-form-head-right{
    margin-left: 80px;
}
.group-hr{
    margin-right:10px;
    margin-top: 19px;
    height: 0;
    border-top:1px dashed #0166a6;
}
.more-btn{
    margin-left: 5px;
    height: 28px;
    width: 28px;
    border: none;
    background-color: #fff;
    background: url(../images/more.png) 0 0 no-repeat;
    background-position: center center; 
    outline: none;
    cursor: pointer;
}
/*图标模板*/
.chart-warp {
    width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -255px;
}

.chart-title {
    height: 40px;
    text-align: center;
    color: white;
    background-color: #0082d3;
    font-size: 22px;
    line-height: 40px;
    border-radius: 5px 5px 0 0;
}

.chart-body {
    position: relative;
    height: 470px;
    border: 1px solid #e4e4e4;
    border-top: none;
}

.chart {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -190px;
    height: 350px;
    width: 550px;
}
.download{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 50px;
    text-align: center;
}
/*弹窗*/
/*弹窗边框*/
.mini-panel-border {
    border: 0;
}
/*弹出框标题*/
.mini-panel-title{
    font-size: 16px!important;
}
/*弹窗头部容器*/
.mini-window .mini-panel-header-inner{
    padding: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}
/*弹窗头部背景*/
.mini-window .mini-panel-header{
    background: none;
    background-color: #0082d3;
    border-radius: 5px 5px 0 0 ;
}
/*弹窗头部表题*/
.mini-panel .mini-panel-title{
    line-height: 40px;
    color: white;
    font-size: 14px;
    font-family: "微软雅黑";
}
.mini-panel .mini-tools{
    top: 0;
    right: 10px;
}
/*弹窗头部关闭icon*/
.mini-tools-close{
    background: url(../images/open-icon.png) no-repeat 50% 1px;
    margin-top: 13px;
}
/*弹窗下半部分圆角*/
.mini-panel-viewport{
    border-radius: 0 0 5px 5px;
}
/*弹窗底色*/
.mini-modal{
    opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
}
/*tip*/
.mini-tips{
    padding: 5px 20px;
}
/*成功提示*/
.mini-tips-success{
    left: 50%!important;
    top: 50%!important;
    color: #fff;
    background-color: #05b062;
    border-radius: 18px;
    text-align: center;
}
/*弹窗字体*/
.mini-messagebox-content{
    font-family: "微软雅黑";
    font-size: 16px!important;
}
.mini-messagebox-table .mini-messagebox-content-text{
    font-family: "微软雅黑";
    font-size: 16px!important;
    padding:10px 0;
    display: block;
}
/*弹窗图标*/
.mini-messagebox-warning{
    display: none;
}
.mini-messagebox-question{
    display: none;
}
/*弹窗按钮*/
.mini-window .mini-button{
    border: 0;
    background:none;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    color: white;
    display: inline-block;
    background-color: #0082d3;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: "微软雅黑";
}
.mini-window .mini-button:nth-child(2){
    height: 28px;
    line-height: 28px;
}
body .mini-window a:hover.mini-button:nth-child(1){
    border:none;
    background: none;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    color: white;
    display: inline-block;
    background-color: #0082d3;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: "微软雅黑";
}
.mini-messagebox-buttons{
    text-align: right;
    border-top: 1px solid #E0E0E0;
    padding:10px 5px 10px 0;
}
.mini-messagebox-buttons .mini-button:nth-child(2){
    background-color: #FFFFFF;
    color: #555!important;
    border: 1px solid #C9C9C9;
}
body .mini-window a:hover.mini-button:nth-child(2){
    border:none;
    background: none;
    height: 28px;
    line-height: 28px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    color: white;
    display: inline-block;
    background-color: #FFFFFF;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: "微软雅黑";
    border: 1px solid #C9C9C9;
}
/*弹窗主体去掉padding*/
.mini-window .mini-panel-body{
    padding: 0;
}
/*404等提示页面*/
.warp-404 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    height: 200px;
    margin-top: -100px;
}

.warp-404>div {
    display: inline-block;
}

.img-404 {
    width: 122px;
    height: 139px;
    margin-right: 40px;
    display: inline-block;
}

.img-404 {
    *display: inline;
}

.img-404>img {
    width: 100%;
    height: 100%;
}

.text-404 {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    line-height: 28px;
    font-size: 14px;
    font-family: "微软雅黑";
}

.text-404 {
    *display: inline;
}

.code-404 {
    font-size: 18px;
    color: #055fa6;
    font-weight: 700;
}

.tel-404 {
    color: #ff7f02;
}

.list-icon-404 {
    float: left;
    margin-right: 5px;
}

.list-icon-404>img {
    width: 4px;
    height: 4px;
    vertical-align: middle;
}
.notInfo{
    width: 100%;
    height: 500px;
    background:url(../images/notInfo.png);
    background-position:center  center;
    background-repeat:no-repeat ;
}
.waiting{
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.3) url(../images/waiting.png);
    background-position:center  center;
    background-repeat:no-repeat ;
}
.waiting-img{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -120px;
    margin-top: -60px;
}
.notfind{
    width: 100%;
    height: 500px;
    background:url(../images/notfind.png);
    background-position:center  center;
    background-repeat:no-repeat;
}
/*弹出框大小*/
.messageBox{
    width: 430px;
    padding: 50px 0;
    text-align: center;
}
.messageBox img{
    vertical-align: middle;
    margin-right: 10px;
}
.messageBox span{
    vertical-align: middle;
}