.expository {
	text-indent: 10px;
	overflow: hidden;
	border: 1px solid #e3e3e3;
	background-color: #fffbe2;
	font-family: "微软雅黑";
	font-size: 14px;
	margin-top: 10px;
}

.web-name {
	font-weight: 700;
	font-size: 18px;
	color: #333;
	margin:10px 0;
}

.module {
	font-weight: 700;
	font-size: 14px;
	color: #333;
	margin-top:10px;
}

.explain-group div {
	display: inline-block;
}

