<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.zjport.xlcz.dao.system.LogMapper">
    <!--日志结果集-->
    <resultMap id="BaseResultMap" type="Log">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="role_id" property="roleId" jdbcType="INTEGER"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="login_time" property="loginTime" jdbcType="TIMESTAMP"/>
        <result column="deleted_flag" property="deletedFlag" jdbcType="VARCHAR"/>
        <result column="create_id" property="createId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_id" property="modifyId" jdbcType="INTEGER"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--日志dto结果集-->
    <resultMap id="BaseLogDto" type="LogDto">
        <result column="userId" property="userId" jdbcType="INTEGER"/>
        <result column="roleId" property="roleId" jdbcType="INTEGER"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="loginTime" property="loginTime" jdbcType="TIMESTAMP"/>
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="roleName" property="roleName" jdbcType="VARCHAR"/>
    </resultMap>
    <!--字段列表-->
    <sql id="Base_Column_List">
        id, user_id, role_id, ip, login_time, deleted_flag, create_id, create_time, modify_id,
        modify_time
    </sql>
    <!--根据主键查询-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sys_log
        where id = #{id,jdbcType=INTEGER}
    </select>
    <!--删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sys_log
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <!--新增-->
    <insert id="insertSelective" parameterType="Log" useGeneratedKeys="true" keyProperty="id">
        insert into sys_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="loginTime != null">
                login_time,
            </if>
            <if test="deletedFlag != null">
                deleted_flag,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyId != null">
                modify_id,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="loginTime != null">
                #{loginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deletedFlag != null">
                #{deletedFlag,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyId != null">
                #{modifyId,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <!--修改-->
    <update id="updateByPrimaryKeySelective" parameterType="Log">
        update sys_log
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=INTEGER},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deletedFlag != null">
                deleted_flag = #{deletedFlag,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyId != null">
                modify_id = #{modifyId,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!-- 分页查询日志 -->
    <select id="findByPage" resultMap="BaseLogDto" parameterType="LogDto">
        select t.id,
        t.user_id userId,
        t.role_id roleId,
        t.ip,
        t.login_time loginTime,
        t1.user_name userName,
        t1.name,
        t2.role_name roleName
        from sys_log t
        left join sys_user t1 on t.user_id = t1.id
        left join sys_role t2 on t.role_id = t2.id
        <where>
            <if test="userName != null and userName != ''">
                and t1.user_name like concat(concat('%',#{userName}),'%')
            </if>
            <if test="loginTime != null and loginTime != ''">
                and date(t.login_time) = #{loginTime}
            </if>
        </where>
        order by t.login_time desc
    </select>
</mapper>